body {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #f0f0f0;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(169, 148, 148, 0.1);
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
}
input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #1C5F22;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.error {
    color: red;
    font-size: 16px;
}
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"] {
    width: 100%; /* 브라우저 기본 스타일에 의존하지 않도록 명시적으로 설정 */
    margin-bottom: 4px; /* 오류 메시지와의 간격을 조정 */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    font-size: 12px; /* 오류 메시지 크기를 줄임 */
    color: red; /* 색상은 그대로 유지 */
    margin-top: 0; /* 오류 메시지와 입력 필드 사이의 간격 제거 */
}

